.movies-list {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 30px 24px;
    justify-content: center;
   
  }
  
  @media screen and (max-width: 1279px) {
    .movies-list {
     
      grid-template-columns: repeat(2, max-content);
      gap: 30px 36px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .movies-list {
      grid-template-columns: max-content;
      gap: 30px;
    }
  }