.searchform {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 68px 0 50px;
  }
  
  .searchform__input-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 14px;
    border-bottom: #424242 1px solid;
    margin-bottom: 30px;
  }
  
  .searchform__input {
    text-align: center;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 28px;
  }
  
  .searchform__button {
    font-size: 11px;
    line-height: 18px;
    padding: 8px 10px;
    background-color: #4285f4;
    border: none;
    color: #ffffff;
    border-radius: 48px;
    cursor: pointer;
  }

  .search__input-error_hidden {
   margin-bottom: 50px;
    visibility: hidden;
    padding: 9px 0;
    font-size: 10px;
    line-height: 12px;
    color: #ee3465;
    transform: scale(0);
    transition:  .2s all ease-in-out;
  }
  
  .search__input-error {
    visibility: visible;
    transform: scale(1);
    /* opacity: 1; */
  }
  
  .search__input-error::after {
    transition: 1s;
  }

  .link:hover {
    transition: opacity 0.3s linear;
    opacity: 0.6;
  }
  
  
  
  .searchform__shorts {
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 0 12px;
  }
  
  @media screen and (max-width: 768px) {
    .searchform {
      margin: 86px 0 62px;
    }
    .searchform__shorts {
      font-size: 11px;
    }
    .searchform__input {
      width: calc(100% - 53px);
    }
  }

  @media screen and (max-width: 320px) {
    .searchform {
      margin: 80px 0 51px;
    }
    .searchform__input {
      text-align: left;
      font-size: 18px;
    }
    .searchform__search-icon {
      display: none;
    }
  }