.popup {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
}

.popup__container {
  width: 282px;
  background-color: white;
  border-radius: 10px;
  padding: 25px 22px;
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup__container_img {
  padding: 60px 36px;
}

.popup__close-button {
  width: 26px;
  height: 26px;
  background-image: url('../../images/nav-close-icon.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  padding: 0;
  transform: rotate(-45deg);
  border: none;
  outline-width: 0;
  cursor: pointer;
  position: absolute;
  top: -45px;
  left: 252px;
  bottom: 0;
  right: 0;
}

.popup__img-status {
  display: block;
  margin: 0 auto 32px;
}

.popup__title {
  font-weight: 900;
  font-size: 18px;
  line-height: 28px;
  color: #000;
  margin: 0;
  padding: 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .popup__container {
    width: 430px;
    padding: 34px 36px 37px;
  }

  .popup__close-button {
    width: 40px;
    height: 40px;
    left: 430px;
    top: -38px;
  }

  .popup__title {
    font-size: 30px;
    line-height: 44px;
    align-self: flex-start;
  }
}
