.footer {
    width: 1140px;
    margin: 0 auto 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}

.footer__title {
    margin: 0;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    width: max-content;
    text-align: center;
    color: #8B8B8B;
}

.footer__title_copyright {
    color: #ffffff;
}

.footer__info {
    width: 100%;
    margin: 20px 0 0;
    border-top: 1px solid #424242;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

.footer__menu {
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: space-between;
    margin: 0;
}


.footer__menu-item {
    margin-right: 20px;
    list-style: none;
}

.footer__menu-link {
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    opacity: 1;
    text-align: right;
    text-decoration: none;
    color: #FFFFFF;
}

.footer__menu-item:last-of-type {
    margin-right: 0;
}

.footer__menu-link:hover {
    opacity: .8;
}

@media screen and (max-width: 1280px) {
    .footer {
        width: calc(100% - 60px);
    }
}

@media screen and (max-width: 768px) {
    .footer {
        width: calc(100% - 20px);
    }

    .footer__title {
        font-size: 12px;
        line-height: 15px;
    }

    .footer__info {
        padding-top: 30px;
        flex-direction: column-reverse;
    }
    .footer__menu {
        flex-direction: column;
        margin-bottom: 30px;
    }
    .footer__menu-item {
        margin: 0 0 12px;
    }
    .footer__menu-item:last-of-type {
        margin: 0;
    }
    .footer__menu-link {
        font-size: 12px;
        line-height: 15px;
    }
}

@media screen and (max-width: 320px) {
    .footer__title_copyright {
        color: #8B8B8B;
    }
  
}