.not-found {
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 100vh;
    position: relative;
}

.not-found__container {
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.not-found__title {
    font-weight: normal;
    font-size: 140px;
    line-height: 170px;
    text-align: center;
    margin: 0 0 5px;
    color: #ffffff;
}

.not-found__subtitle {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #ffffff;
}

.not-found__link {
    width: 42px;
    border: 0;
    outline: 0;
    background: none;
    font-weight: normal;
    font-size: 14px;
    cursor: pointer;
    line-height: 17px;
    position: absolute;
    bottom: 60px;
    color: #4285F4;
    left: calc(50% - 21px);
}

@media screen and (max-width: 767px) {
    .not-found__link {
        bottom: 222px;
    }
}

@media screen and (max-width: 320px) {
    .not-found__link {
        width: 36px;
        left: calc(50% - 18px);
        font-size: 12px;
        bottom: 30px;
    }

    .not-found__title {
        font-size: 80px;
        line-height: 97px;
    }

    .not-found__subtitle {
        font-size: 12px;
        line-height: 14px;
    }
}